<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <fast_integration>
            <fast>
                <enable>0</enable>
                <mode>0</mode>
                <enable_dark_theme>0</enable_dark_theme>
                <enable_auth_capture>0</enable_auth_capture>
                <order_status_planned_to_ship>pending</order_status_planned_to_ship>
                <fast_test_api_uri>https://api.sandbox.fast.co/v1/</fast_test_api_uri>
                <fast_test_js_url>https://js.sandbox.fast.co/fast.js</fast_test_js_url>
                <fast_prod_api_uri>https://api.fast.co/v1/</fast_prod_api_uri>
                <fast_prod_js_url>https://js.fast.co/fast.js</fast_prod_js_url>
                <retry_failures_cron>*/5 * * * *</retry_failures_cron>
                <retry_failures_count>2</retry_failures_count>
                <enable_auto_invoice>0</enable_auto_invoice>
            </fast>
            <rest_api_log>
                <enable_rest_api_log>0</enable_rest_api_log>
            </rest_api_log>
         </fast_integration>
        <payment>
            <fast>
                <active>1</active>
                <model>Fast\Checkout\Model\Payment\FastPayment</model>
                <order_status>pending</order_status>
                <title>fast</title>
                <allowspecific>0</allowspecific>
                <can_use_checkout>0</can_use_checkout>
                <can_use_internal>1</can_use_internal>
            </fast>
        </payment>
    </default>
</config>
