<?xml version="1.0"?>
<!--
/**
 * Fast_Checkout
 *
 * PHP version 7.3
 *
 * @package   Fast_Checkout
 * @author    Fast <hi@fast.co>
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <section id="fast_integration" translate="label" type="text" sortOrder="300" showInDefault="1"
                 showInWebsite="1" showInStore="1">
            <label>Fast Checkout</label>
            <tab>service</tab>
            <resource>Fast_Checkout::config</resource>
            <group id="fast" translate="label" sortOrder="50" showInDefault="1"
                   showInWebsite="1" showInStore="1">
                <label>Fast Checkout Integration</label>
                <field id="enable" translate="label comment" sortOrder="1" type="select" canRestore="1"
                       showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Enable</label>
                    <comment>Enable integration with Fast API</comment>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
                <field id="enable_auth_capture" translate="label comment" sortOrder="10" type="select" canRestore="1"
                       showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Enable Auth+Capture</label>
                    <comment>Enable auth only at POS and capture on invoice with Fast API</comment>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
                <field id="order_status_planned_to_ship" translate="label comment" type="select" sortOrder="6"
                       showInDefault="1" showInWebsite="1" showInStore="0">
                    <label>Order Status Invoice Paid</label>
                    <source_model>Magento\Sales\Model\Config\Source\Order\Status</source_model>
                    <comment>Order Status for new Fast orders captured at point of sale</comment>
                </field>
                <field id="mode" translate="label comment" sortOrder="31" type="select" canRestore="1"
                       showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Enable Production Mode</label>
                    <comment>Enable Production Mode - activation will be sent to production fast servers</comment>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
                <field id="enable_auto_invoice" translate="label comment" sortOrder="11" type="select" canRestore="1"
                       showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Enable</label>
                    <comment>Enable automatic invoicing of orders when shipments are created. Used with Enable
                        Auth+Capture
                    </comment>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
                <field id="activate_button" translate="label comment" sortOrder="30" showInDefault="1"
                       showInWebsite="1" showInStore="1">
                    <button_label>Activate</button_label>
                    <button_url>adminhtml/fast/activation/send</button_url>
                    <frontend_model>Fast\Checkout\Block\Adminhtml\System\Config\Activation\Send</frontend_model>
                    <comment>Save config before activating and be sure you have selected the correct mode. Clicking this
                        will send an oauth token to fast, the use of which allows fast to communicate payment
                        information back to your store.
                    </comment>
                </field>
                <field id="api_access_token" translate="label comment" sortOrder="2" type="text"
                       showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>API Access Token</label>
                    <comment>This value is generated by Fast during onboarding. This API Token will be used to
                        authenticate your calls to Fast
                    </comment>
                </field>
                <field id="app_id" translate="label comment" sortOrder="3" type="text"
                       showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>App ID</label>
                    <comment>This value is generated by Fast during onboarding. This ID will be included in every call
                        you make to Fast in the Headers
                    </comment>
                </field>
                <field id="fast_test_js_url" translate="label comment" sortOrder="45" type="text"
                       showInDefault="1" showInWebsite="0" showInStore="0">
                    <label>Fast TEST JS URL</label>
                    <comment>no trailing slash</comment>
                </field>
                <field id="fast_prod_js_url" translate="label comment" sortOrder="46" type="text"
                       showInDefault="1" showInWebsite="0" showInStore="0">
                    <label>Fast PROD JS URL</label>
                    <comment>no trailing slash</comment>
                </field>
                <field id="fast_test_api_uri" translate="label comment" sortOrder="47" type="text"
                       showInDefault="1" showInWebsite="0" showInStore="0">
                    <label>Fast TEST API URI</label>
                    <comment>with trailing slash</comment>
                </field>
                <field id="fast_prod_api_uri" translate="label comment" sortOrder="48" type="text"
                       showInDefault="1" showInWebsite="0" showInStore="0">
                    <label>Fast PROD API URI</label>
                    <comment>with trailing slash</comment>
                </field>
                <field id="enable_dark_theme" translate="label comment" sortOrder="20" type="select" canRestore="1"
                       showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Enable Dark Theme</label>
                    <comment>use Fast button which looks best in dark themes</comment>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
                <field id="enable_debug_logging" translate="label comment" sortOrder="41" type="select" canRestore="1"
                       showInDefault="1" showInWebsite="0" showInStore="0">
                    <label>Debug Logging Enable</label>
                    <comment>Enable Debug level logging - this can cause large log files and impact system
                        perforrmance
                    </comment>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
                <field id="retry_failures_cron" translate="label comment" sortOrder="42" type="text" showInDefault="1"
                       showInWebsite="0" showInStore="0">
                    <label>retry failed requests Cron Schedule</label>
                    <comment>schedule for resending failed requests - default is */5 * * * *</comment>
                </field>
                <field id="retry_failures_count" translate="label comment" sortOrder="43" type="text"
                       showInDefault="1" showInWebsite="0" showInStore="0">
                    <label>Retry Failure Count</label>
                    <comment>number of attempts to retry failed requests - default is 5</comment>
                </field>
            </group>
            <group id="rest_api_log" translate="label" type="text" sortOrder="200" showInDefault="1"
                   showInWebsite="0" showInStore="0">
                <label>REST API Log Cleaner</label>
                <field id="enable_rest_api_log" translate="label comment" sortOrder="0" type="select" canRestore="1"
                       showInDefault="1" showInWebsite="0" showInStore="0">
                    <label>Enable REST API Logging</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                    <comment>enable system logging for magento REST API calls - not recommended in production</comment>
                </field>
                <field id="enable_log_cleaner" translate="label" sortOrder="1" type="select" canRestore="1"
                       showInDefault="1" showInWebsite="0" showInStore="0">
                    <label>Enable Log Cleaner Cron</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                    <comment>enable cleaning log table on schedule</comment>
                </field>
                <field id="table_clean_cron" translate="label comment" sortOrder="20" type="text" showInDefault="1"
                       showInWebsite="0" showInStore="0">
                    <label>Log table Clean Cron Schedule</label>
                    <comment>schedule for cleaning the REST API Log Table</comment>
                </field>
                <field id="table_clean_cron_retain_days" translate="label comment" sortOrder="20" type="text"
                       showInDefault="1" showInWebsite="0" showInStore="0">
                    <label>Days to Retain in Table</label>
                    <comment>number of days to retain in the log table, recommended at least 7</comment>
                </field>
                <field id="table_clean_cron_button" translate="label comment" sortOrder="30" showInDefault="1"
                       showInWebsite="0" showInStore="0">
                    <button_label>Run REST API Log Table Clean Now</button_label>
                    <button_url>fast/restapilog/cleantable</button_url>
                    <frontend_model>Fast\Checkout\Block\Adminhtml\System\Config\RestApiLog\CleanTable</frontend_model>
                    <comment>save config before running, if changes were made</comment>
                </field>
            </group>
        </section>
        <section id="payment" showInDefault="1" showInStore="1" showInWebsite="1" sortOrder="1000" translate="label">
            <group id="fast" showInDefault="1" showInStore="1" showInWebsite="1" sortOrder="10" translate="label">
                <label>Fast Checkout</label>
                <field id="active" showInDefault="1" showInStore="1" showInWebsite="1" sortOrder="10" translate="label"
                       type="select">
                    <label>Enabled</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
                <field id="title" showInDefault="1" showInStore="1" showInWebsite="1" sortOrder="20" translate="label"
                       type="text">
                    <label>Payment Method Code</label>
                </field>
                <field id="order_status" showInDefault="1" showInStore="1" showInWebsite="1" sortOrder="30"
                       translate="label" type="select">
                    <label>New Order Status</label>
                    <source_model>Magento\Sales\Model\Config\Source\Order\Status\NewStatus</source_model>
                </field>
                <field id="payment_action" translate="label" type="select" sortOrder="32" showInDefault="1"
                       showInWebsite="1" showInStore="0">
                    <label>Payment Action</label>
                    <source_model>Fast\Checkout\Model\Config\Adminhtml\Source\PaymentAction</source_model>
                    <config_path>payment/fast/payment_action</config_path>
                </field>
                <field id="allowspecific" showInDefault="1" showInStore="1" showInWebsite="1" sortOrder="40"
                       translate="label" type="allowspecific">
                    <label>Payment from Applicable Countries</label>
                    <source_model>Magento\Payment\Model\Config\Source\Allspecificcountries</source_model>
                </field>
                <field id="specificcountry" showInDefault="1" showInStore="1" showInWebsite="1" sortOrder="50"
                       translate="label" type="multiselect">
                    <label>Payment from Applicable Countries</label>
                    <source_model>Magento\Directory\Model\Config\Source\Country</source_model>
                    <can_be_empty>1</can_be_empty>
                </field>
            </group>
        </section>
    </system>
</config>
